<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [percent]="75"
      [radius]="80"
      titleColor="#000000"
      titleFontSize="2em"
      [showUnits]="true"
      unitsColor="#000000"
      unitsFontSize="1em"
      subtitle="HTML"
      subtitleColor="#FFFFFF"
      subtitleFontSize="2.5em"
      [showSubtitle]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#4DB53F'"
      [innerStrokeColor]="'#8A8A8A'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [percent]="63"
      [radius]="80"
      titleColor="#000000"
      titleFontSize="2em"
      [showUnits]="true"
      unitsColor="#000000"
      unitsFontSize="1em"
      subtitle="CSS"
      subtitleColor="#FFFFFF"
      subtitleFontSize="2.5em"
      [showSubtitle]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#4DB53F'"
      [innerStrokeColor]="'#8A8A8A'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [percent]="85"
      [radius]="80"
      titleColor="#000000"
      titleFontSize="2em"
      [showUnits]="true"
      unitsColor="#000000"
      unitsFontSize="1em"
      subtitle="JAVA"
      subtitleColor="#FFFFFF"
      subtitleFontSize="2.5em"
      [showSubtitle]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#4DB53F'"
      [innerStrokeColor]="'#8A8A8A'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [percent]="40"
      [radius]="80"
      titleColor="#000000"
      titleFontSize="2em"
      [showUnits]="true"
      unitsColor="#000000"
      unitsFontSize="1em"
      subtitle="GitHub"
      subtitleColor="#FFFFFF"
      subtitleFontSize="2.2em"
      [showSubtitle]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#4DB53F'"
      [innerStrokeColor]="'#8A8A8A'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [percent]="50"
      [radius]="80"
      titleColor="#000000"
      titleFontSize="2em"
      [showUnits]="true"
      unitsColor="#000000"
      unitsFontSize="1em"
      subtitle="Inglés"
      subtitleColor="#FFFFFF"
      subtitleFontSize="1.5em"
      [showSubtitle]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#4DB53F'"
      [innerStrokeColor]="'#8A8A8A'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [percent]="85"
      [radius]="80"
      titleColor="#000000"
      titleFontSize="2em"
      [showUnits]="true"
      unitsColor="#000000"
      unitsFontSize="1em"
      subtitle="Trabajo en equipo"
      subtitleColor="#FFFFFF"
      subtitleFontSize="0.9em"
      [showSubtitle]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#4DB53F'"
      [innerStrokeColor]="'#8A8A8A'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [percent]="90"
      [radius]="80"
      titleColor="#000000"
      titleFontSize="2em"
      [showUnits]="true"
      unitsColor="#000000"
      unitsFontSize="1em"
      subtitle="Comunicacion"
      subtitleColor="#FFFFFF"
      subtitleFontSize="1.1em"
      [showSubtitle]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#4DB53F'"
      [innerStrokeColor]="'#8A8A8A'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [percent]="82"
      [radius]="80"
      titleColor="#000000"
      titleFontSize="2em"
      [showUnits]="true"
      unitsColor="#000000"
      unitsFontSize="1em"
      subtitle="Liderazgo"
      subtitleColor="#FFFFFF"
      subtitleFontSize="1.1em"
      [showSubtitle]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#4DB53F'"
      [innerStrokeColor]="'#8A8A8A'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>
  
</div>
