.row{
    background-color: #5c5f63;
    padding: 20px;
}

#botonMas{
    margin-left: 1em;
    display: flex, inline-block;
    margin-bottom: 10px;
  }


.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;

}