/*div{
    background: linear-gradient(to right, #031F60 0%, 9.20502096414566%, #042069 18.41004192829132%, 20.502091944217682%, #011B66 22.594141960144043%, 25.52301287651062%, #001862 28.451883792877197%, 36.40167415142059%, #01155E 44.35146450996399%, 47.48953878879547%, #01135B 50.62761306762695%, 51.46443545818329%, #001358 52.301257848739624%, 53.765690326690674%, #001257 55.230122804641724%, 57.11296796798706%, #021051 58.9958131313324%, 62.55230009555817%, #020E4A 66.10878705978394%, 68.41004192829132%, #020B42 70.7112967967987%, 76.35983228683472%, #010737 82.00836777687073%, 84.9372386932373%, #04062D 87.86610960960388%, 89.74895477294922%, #010423 91.63179993629456%, 95.81589996814728%, #010522 100%);
}*/
div{
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
}

app-social{
    float: right;
    margin-top: 30px;
    
}

