<div class="row">
  
  <div class="col-lg-4">
    <h1>Educacion</h1>
    <button type="button" class="btn btn-dark" id="botonMas" routerLink="/nuevaedu" *ngIf="isLogged" >
      <i class="bi bi-plus-square"></i>
    </button>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <td>
            <h3>{{ Educacion.nombreE }}</h3>
          </td>
          <td>{{ Educacion.descripcionE }}</td>
          <td *ngIf="isLogged">
            <button class="btn btn-info" routerLink="/editedu/{{ Educacion.id }}">
              <i class="bi bi-pencil-fill">Editar</i> 
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(Educacion.id)">
              <i class="bi bi-trash3"> Eliminar</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  